<footer>
    <div class="footer">
        <p class="copyright">Copyright {{ "now"|date("Y") }} <a href="https://fr.linkedin.com/in/lucas-pavin-842471206" target="_blanck">Pavinho</a>. Tous droits réservés.</p>
    </div>
</footer>