
<div class="header">
    <a href="{{ path('app_main') }}" class="logo">Burgerdi</a>
    <div class="header-right">
        <a class="active" href="{{ path('app_main') }}">Accueil</a>
        <a href="{{ path('app_meal') }}">Les plats</a>
        <a href="{{ path('security.login') }}">Se connecter</a>
    </div>
</div>