{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Formulaire de connexion</h1>

        <form action="{{path('app_login') }}" method="post">

            <div class="col-form-login">
                <label for="username">Adresse e-mail</label>
                <input type="email" class="" id="username" placeholder="exemple@burgerdi.fr" name='_username'>
            </div>
            <div class="col-form-login">
                <label for="password">Mot de passe</label>
                <input type="password" class="" id="password" placeholder="Mot de passe" name='_password'>
            </div>

            <div type="submit" class="btn">Se connecter</div>

        </form>

    </div>
{% endblock %}
