{% extends 'base.html.twig' %}

{% block body %}

<div class="homepage">
    <img src="" alt="">
</div>

<div class="container">
    <div class="left-homepage">
        <h1>Venez découvrir les <strong>meilleurs plats</strong> de notre région et donner votre avis</h1>
    </div>
    <div class="right-homepage">
    
    </div>
</div>
{% endblock %}
