{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">



        <h1>Formulaire de modification des informations </h1>


        {% for message in app.flashes('Warning') %}
            <div class="flash-notice" style="width: 100%; padding: 1rem 3rem; background-color: orange; display: flex; justify-content: center; align-items: center; border-radius: 0 20px; margin-bottom: 80px;">
                {{ message }}
            </div>
        {% endfor %}

        {{form(form)}}

    </div>
    
{% endblock %}
