.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    height: 60px;
    background-color: var( --primary-color);
    color: #ffffff;
  
    &__left {
      display: flex;
      align-items: center;
    }
  
    &__right {
      display: flex;
      align-items: center;
    }
  
    &__logo {
      font-size: 1.2em;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
    }
  
    &__menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  
      &-item {
        margin: 0 20px;
        position: relative;
  
        &--dropdown {
          &:hover {
            .navbar__dropdown {
              display: block;
            }
          }
        }
      }
  
      a {
        font-size: 0.9em;
        color: #ffffff;
        text-decoration: none;
      }
    }
  
    &__dropdown {
      display: none;
      position: absolute;
      top: 40px;
      right: -30px;
      padding: 10px;
      background-color: #333333;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      z-index: 1;
  
      &-item {
        display: block;
        width: 200px;
        padding: 5px 5px;
        font-size: 1rem;
  
        a {
          font-size: 0.9em;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  